<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h2>All Chats!</h2>
    <form action="/chats/new" method="get">
      <button type="submit">New Chat</button>
    </form>
    <% for(let chat of chats) { %>
    <div class="chat">
      <h4>Sender: <%= chat.from %></h4>
      <p>Message:<%= chat.message %></p>
      <h4>Receiver: <%= chat.to %></h4>
      <p><%= chat.createdAt.toString().split(" ")[4] %></p>
      <p><%= chat.createdAt.toString().split(" ").splice(0,4).join(" ") %></p>
      <form action="/chats/<%= chat._id %>/edit" method="get">
        <button type="submit">Edit Message</button>
      </form>
      <br />
      <a href="/chats/<%= chat._id %>">Show</a>
      <form action="/chats/<%= chat._id %>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
      </form>
      <hr />
    </div>
    <% } %>
  </body>
</html>
